body {
	font-family: sans-serif;
}

#contentContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}

#index {
    display: flex;
    max-width: 25%;
    flex-grow: 1;
    flex: 1 0 30%;
}

#index ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
}

#index ul li {
    padding: 2px 5px;
    display: flex;
    background-color: #D0D0D0;
    border: 2px solid ;
    border-color: #A0A0A0;
    border-top-width:-0px;
    flex-direction: column;
}

#index ul li:first-child {
    border-top-width: 2px;
}

#index ul li:hover {
    background-color: #E0E0E0;
}

#index ul li p {
    margin: 0.5em;
}

#index ul li.selected {
    background-color: white;
    border-right-width: 0px;
}

#index ul li:not(.selected) .additionalContent {
    display: none;
}


#index ul li .additionalContent {
    display: flex;
    flex-direction: column;
}

#content {
    display: flex;
    flex-grow: 3;
    flex-direction: column;
    /*width: 50%;*/
    overflow-y: auto;
    /*height: 500px;*/
    flex: 1 0 70%;
    padding: 0 10px;
}

#resources {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    flex: 1 1 100%;
}

.functionDescription {
    display: flex;
    width: 40%;
}

.bindingContainer {
	display: flex;
	align-items: center;
	border-width: 1px;
	border-style: solid;
	border-color: #EFEFEF;
	margin: 5px 20px;
	background-color: #FAFAFA;
	padding: 3px 10px;
}

.keybinding {
    display: flex;
    width: 15%;
    text-align: center;
	flex-direction: row;
    flex-wrap: wrap;
	align-items: center;
}

.keybinding kbd {
	border: 1px solid #C0C0C0;
	padding: 5px 10px;
	/*-webkit-box-shadow: 0px 2px 4px 0px #666666;
	-moz-box-shadow: 0px 2px 4px 0px #666666;*/
	box-shadow: 0px 2px 4px 0px #A0A0A0;
	border-radius: 3px;
	font-family: monospace;
    margin: 2px 5px;
    white-space: nowrap;
}
